.new-name-row {
	@include grid-row();
}

.new-name-first {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.new-name-last {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.contact-info-row {
	@include grid-row();
	border-bottom: 1px solid $secondary-color;
	padding-bottom: 20px;
	margin-bottom: 30px;
	@media #{$small} {
		border-bottom: 0px;
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

.contact-info-type {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.contact-info-account {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.remove-contact {
	@include grid-column(12);
	@media #{$small} {
		@include grid-column(4);
	}
}

.add-contact {
	margin-left: 15px;
}

.add-new-person-submit {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(2, $collapse: true);
		float: right;
	}
}
