.recipient-row {
	@include grid-row();
}

.recipients {
	@include grid-column(12);
}

.recipients-dropdown {
	padding: 5px 0 20px 5px;
	border: 1px solid #ccc;
	&:focus {
		background: #fafafa;
		border-color: #999;
		outline: none;
		-webkit-box-shadow: 0 0 5px #999;
		-moz-box-shadow: 0 0 5px #999;
		box-shadow: 0 0 5px #999;
	}
}

.message-row {
	@include grid-row();	
}

.message {
	@include grid-column(12);
}

.chars {
	color: $alert-color;
	text-align: right;
}

.new-message-submit {
	@include grid-column(12, $collapse: true);
	@media #{$small} {
		@include grid-column(2, $collapse: true);
		float: right;
	}
}
