/*Code Blocks*/

.highlight {
	background: #073642;
	padding: 10px 20px 20px 20px;
	margin-bottom: 20px;
	font-family: monospace, serif;
	font-size: emCalc(22);
	border-radius: 3px;
	small {
		color: #93A1A1;
	}
	strong {
		color: #268BD2;
	}
	span {
		color: #93A1A1;
	}
}
